.DS_Store
Thumbs.db

bin/
obj/

*.log

*.tmp
*~

*.user
*.suo
*.sln.docstates

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.nupkg
packages/

*.dll
*.exe
*.pdb
*.mdb
*.cache

project.lock.json
project.fragment.lock.json
*.xproj
*.userprefs