*.DS_Store
*.log
*.tmp
*.bak

Thumbs.db
ehthumbs.db
desktop.ini

.vscode/
.vs/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
build/
publish/
out/
[Ll]og/
TestResults/
Debug/
Release/

*.nupkg
packages/
.nuget/

*.pdb
*.cache
*.ilk
*.obj
*.tlog
*.vspscc
*.vssscc

*.appx
*.appxbundle
*.appxsym
*.code-analysis/
*.psess
*.vsp

Properties/AssemblyInfo.cs

[Ll]ogs/
.idea/
ipch/